header, footer {
    height: 100px;
    background-color: brown;
}

td {
    padding: 10px;
}

img {
    width: 100px;
    height: 100px;
}

#cel1 {
    background-color: aqua;
}

#cel2 {
    background-color: blue;
}

#cel3 {
    background-color: red;
}

#cel4 {
    background-color: peru;
}

#cel5 {
    background-color: magenta;
}

#cel6 {
    background-color: mediumseagreen;
}

#cel7 {
    background-color: orange;
}

#cel8 {
    background-color: orchid;
}

#cel9 {
    background-color: blueviolet;
}

#cel10 {
    background-color: burlywood;
}

#cel11 {
    background-color: chartreuse;
}

#cel12 {
    background-color: cornflowerblue;
}

#cel13 {
    background-color: purple;
}

#cel14 {
    background-color: yellow;
}

#cel15 {
    background-color: khaki;
}

#cel16 {
    background-color: navy;
}